html {
    width: 2484px;
    background-color: #201346; 
    background-image: linear-gradient(360deg, #E74752, #541346, #201346);
    overflow-y: hidden;
}

#particlesJs {
    position: absolute;
    width: 2484px;
}

#btn_volverHome {
  right: 1.5%;
}

#contenedor_menuExperiencias {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.planeta {
    width: 100vh;
    position: relative;
    overflow: unset;
    z-index: 2;
}

.planeta h1,
h2 {
    text-align: center;
    font-family: 'Good Times';
    color: #fff;
    cursor: pointer;
}

.planeta h1 {
    font-size: 2.8em;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: rotate(16deg);
}

.planeta h2 {
    font-size: 1.1em;
}

.planeta img {
    position: absolute;
    cursor: pointer;
}

#planeta0 img {
    width: 150%;
    left: -40%;
    top: 18%;
}

#planeta1 img {
    width: 40%;
}

#planeta1 h2 {
    position: absolute;
    top: 23%;
}

#planeta2 h2 {
    position: absolute;
    left: 49.8%;
}

#planeta3 h2 {
    position: absolute;
    top: 36%;
    left: 49.8%;
}


#planeta2 img,
#planeta3 img {
    width: 30%;
}

#planeta3 img {
    width: 50%;
}

.elementoSup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    padding: 1% 0;
}


.elementoInf {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    padding: 1% 0;
}
#contenedor_imagen {
  zoom: 0.38;
  position: absolute;
  opacity: 0.5;
  width: 6538px;
  height: 2304px;
  z-index: 1;
}

/* Elementos */
.el_experiencias {
  position: absolute;
}

#aurora1 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -13px -2623px;
  left: -25px;
  top: -1px;
  width: 2741px;
  height: 2305px;
  z-index: 2;
}

#aurora2 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -13px -21px;
  left: 2533px;
  top: -200px;
  width: 4005px;
  height: 2541px;
  z-index: 3;
}

#grupo_estrellas {
  left: 163px;
  top: 51px;
  width: 6022px;
  height: 2265px;
}

#grupo_estrellas div {
  position: absolute;
}

#estrella1 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2790px -4235px;
  left: 6020px;
  top: 1134px;
  width: 165px;
  height: 165px;
  z-index: 5;
}

#estrella2 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3222px -4235px;
  left: 5351px;
  top: 2130px;
  width: 165px;
  height: 165px;
  z-index: 6;
}

#estrella3 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3756px -2957px;
  left: 5921px;
  top: 647px;
  width: 165px;
  height: 164px;
  z-index: 7;
}

#estrella4 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2872px -3211px;
  left: 5364px;
  top: 51px;
  width: 104px;
  height: 104px;
  z-index: 7;
}

#estrella5 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3756px -3263px;
  left: 5324px;
  top: 1066px;
  width: 164px;
  height: 165px;
  z-index: 8;
}

#estrella6 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3757px -2623px;
  left: 860px;
  top: 1134px;
  width: 164px;
  height: 165px;
  z-index: 9;
}

#estrella7 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2790px -4576px;
  left: 1476px;
  top: 1458px;
  width: 104px;
  height: 104px;
  z-index: 10;
}

#estrella8 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2812px -3926px;
  left: 1781px;
  top: 2151px;
  width: 164px;
  height: 165px;
  z-index: 11;
}

#estrella9 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3756px -3597px;
  left: 190px;
  top: 2131px;
  width: 165px;
  height: 164px;
  z-index: 12;
}

#estrella10 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2841px -3586px;
  left: 760px;
  top: 647px;
  width: 165px;
  height: 164px;
  z-index: 13;
}

#estrella11 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3755px -4264px;
  left: 1891px;
  top: 980px;
  width: 104px;
  height: 104px;
  z-index: 14;
}

#estrella12 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3568px -4591px;
  left: 204px;
  top: 51px;
  width: 103px;
  height: 104px;
  z-index: 15;
}

#estrella13 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3270px -3570px;
  left: 163px;
  top: 1066px;
  width: 165px;
  height: 165px;
  z-index: 16;
}

#estrella14 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3274px -2902px;
  left: 3441px;
  top: 1134px;
  width: 165px;
  height: 165px;
  z-index: 17;
}

#estrella15 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3206px -4591px;
  left: 4057px;
  top: 1458px;
  width: 104px;
  height: 104px;
  z-index: 18;
}

#estrella16 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3755px -3930px;
  left: 4362px;
  top: 2151px;
  width: 165px;
  height: 165px;
  z-index: 19;
}

#estrella17 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3244px -3926px;
  left: 2772px;
  top: 2130px;
  width: 164px;
  height: 165px;
  z-index: 20;
}

#estrella18 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2842px -2623px;
  left: 3342px;
  top: 647px;
  width: 164px;
  height: 164px;
  z-index: 21;
}

#estrella19 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3304px -2623px;
  left: 4472px;
  top: 980px;
  width: 104px;
  height: 104px;
  z-index: 22;
}

#estrella20 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -2872px -2963px;
  left: 2785px;
  top: 51px;
  width: 104px;
  height: 104px;
  z-index: 23;
}

#estrella21 {
  background-image: url("../../img/projects/area1/elementos.png");
  background-position: -3274px -3230px;
  left: 2745px;
  top: 1066px;
  width: 164px;
  height: 165px;
  z-index: 24;
}